{% extends 'base/base.html' %}

	{% block content %}

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
		</div>
	</div>
	<!-- eof .modal -->


	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			{% include 'base/header.html' %}


			<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>Blog</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{% url 'homepage' %}">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">Pages</a>
								</li>
								<li class="breadcrumb-item active">
									Blog
								</li>
							</ol>
							<div class="divider-15 d-none d-xl-block"></div>
						</div>
					</div>
				</div>
			</section>


			<section class="ls s-pt-50 s-pb-50 s-pt-lg-50 s-pb-lg-100 blog1">
				<div class="container">
					<div class="d-none d-lg-block divider-65"></div>

					<div class="row c-mb-30 c-mb-xl-60">
						<div class="col-lg-12 blog-featured-posts">
							<div class="row justify-content-center">
								{% for bl in blog %}
								
								<div class="col-xl-4 col-md-6">
									<article class="vertical-item text-center content-padding padding-small ls ms post type-post status-publish format-standard has-post-thumbnail blog-featured-posts">
										<div class="item-media post-thumbnail">
											<a href="{{ bl.get_absolute_url }}">
												<img src="{{ bl.image.url }}" alt="">
											</a>
										</div>
										<!-- .post-thumbnail -->
										<div class="item-content">
											<header class="entry-header">
												<div class="entry-meta">
													<span class="screen-reader-text">Posted on</span>
													<a href="#" rel="bookmark">
														<time class="entry-date published updated" datetime="2018-03-11T15:15:12+00:00">March 11, 2018
														</time>
													</a>
												</div>
												<!-- .entry-meta -->
												<h6 class="entry-title">
													<a href="{{ bl.get_absolute_url }}" rel="bookmark">
														{{ bl.title }}
													</a>
												</h6>
											</header>
											<!-- .entry-header -->

											<div class="entry-content">
												<p>{{ bl.desc|truncatewords:20 }}</p>
											</div>
											<!-- .entry-content -->
											<div class="post-author small-text">
												<img src="{{ bl.author.image }}" alt="">
												<p>
													<a href="#">by {{ bl.author.name }}</a>
												</p>
											</div>
										</div>
										<!-- .item-content -->
									</article>
									<!-- #post-## -->
								</div>

								{% endfor %}
							</div>
						</div>
					</div>

				</div>
			</section>

			{% include 'base/footer.html' %}


		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->

	{% endblock content %}